/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nền */
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#3ec6e0,#1fb3d3);
}

/* Khung chính */
.container{
    background:#e9e9e9;
    width:420px;
    padding:40px;
    border-radius:15px;
    text-align:center;
}

/* Tiêu đề */
h1{
    margin-bottom:20px;
    font-size:36px;
}

/* Tabs */
.tabs{
    margin-bottom:30px;
}

.tabs button{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    background:#4f8edc;
    color:white;
    cursor:pointer;
    margin:5px;
    font-size:16px;
}

.tabs button:hover{
    background:#3a78c4;
}

/* Form */
.form-box{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* Tiêu đề form */
.form-box h2{
    margin-bottom:15px;
}

/* Input */
.form-box input{
    width:80%;
    padding:12px;
    margin:8px 0;
    border-radius:6px;
    border:1px solid #bbb;
    font-size:15px;
}

/* Button */
.form-box button{
    margin-top:10px;
    padding:10px 20px;
    border:none;
    border-radius:6px;
    background:#11b44b;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.form-box button:hover{
    background:#0f9c40;
}